/* ------------------------------------------------------------------- 
 * ## document
 * ------------------------------------------------------------------- */

/* 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.*/

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* ------------------------------------------------------------------- 
 * ## sections
 * ------------------------------------------------------------------- */

/* Remove the margin in all browsers. */

body {
    margin: 0;
}

/* Render the `main` element consistently in IE. */

main {
    display: block;
}

/* Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari. */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* ------------------------------------------------------------------- 
 * ## grouping
 * ------------------------------------------------------------------- */

/* 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE. */

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/* ------------------------------------------------------------------- 
 * ## text-level semantics
 * ------------------------------------------------------------------- */

/* Remove the gray background on active links in IE 10. */

a {
    background-color: transparent;
}

/* 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    /* 2 */
}

/* Add the correct font weight in Chrome, Edge, and Safari. */

b, strong {
    font-weight: bolder;
}

/* 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */
kbd, samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Add the correct font size in all browsers. */

small {
    font-size: 80%;
}

/* Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers. */

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* ------------------------------------------------------------------- 
 * ## embedded content
 * ------------------------------------------------------------------- */

/* Remove the border on images inside links in IE 10. */

img {
    border-style: none;
}

/* ------------------------------------------------------------------- 
 * ## forms
 * ------------------------------------------------------------------- */

/* 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari. */

button, input, optgroup, select, textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/* Show the overflow in IE.
 * 1. Show the overflow in Edge. */

button, input {
    /* 1 */
    overflow: visible;
}

/* Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox. */

button, select {
    /* 1 */
    text-transform: none;
}

/* Correct the inability to style clickable types in iOS and Safari. */

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

/* Remove the inner border and padding in Firefox. */

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/* Restore the focus styles unset by the previous rule. */

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/* Correct the padding in Firefox. */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/* 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers. */

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera. */

progress {
    vertical-align: baseline;
}

/* Remove the default vertical scrollbar in IE 10+. */

textarea {
    overflow: auto;
}

/* 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10. */

[type="checkbox"], [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/* 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari. */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/* Remove the inner padding in Chrome and Safari on macOS. */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari. */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* ------------------------------------------------------------------- 
 * ## interactive
 * ------------------------------------------------------------------- */

/* Add the correct display in Edge, IE 10+, and Firefox. */

details {
    display: block;
}

/* Add the correct display in all browsers. */

summary {
    display: list-item;
}

/* ------------------------------------------------------------------- 
 * ## misc
 * ------------------------------------------------------------------- */

/* Add the correct display in IE 10+. */

template {
    display: none;
}

/* Add the correct display in IE 10. */

[hidden] {
    display: none;
}


/* ===================================================================
 * # basic/base setup styles
 *
 * ------------------------------------------------------------------- */
html {
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-weight: normal;
    line-height: 1;
    word-wrap: break-word;
    -moz-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
}

/* ------------------------------------------------------------------- 
 * ## media
 * ------------------------------------------------------------------- */
svg, img, video embed, iframe, object {
    max-width: 100%;
    height: auto;
}

/* ------------------------------------------------------------------- 
 * ## typography resets
 * ------------------------------------------------------------------- */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, th, td {
    margin: 0;
    padding: 0;
}

p {
    font-size: inherit;
    text-rendering: optimizeLegibility;
}

em, i {
    font-style: italic;
    line-height: inherit;
}

strong, b {
    font-weight: bold;
    line-height: inherit;
}

small {
    font-size: 60%;
    line-height: inherit;
}

ol, ul {
    list-style: none;
}

li {
    display: block;
}

/* ------------------------------------------------------------------- 
 * ## links
 * ------------------------------------------------------------------- */
a {
    text-decoration: none;
    line-height: inherit;
}

a img {
    border: none;
}

/* ------------------------------------------------------------------- 
 * ## inputs
 * ------------------------------------------------------------------- */
fieldset {
    margin: 0;
    padding: 0;
}

input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="text"], 
input[type="tel"], 
input[type="url"], 
input[type="password"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* ===================================================================
 * # Grid v3.0.0
 *
 *   -----------------------------------------------------------------
 * - Grid breakpoints are based on MAXIMUM WIDTH media queries, 
 *   meaning they apply to that one breakpoint and ALL THOSE BELOW IT.
 * - Grid columns without a specified width will automatically layout 
 *   as equal width columns.
 * ------------------------------------------------------------------- */

/* rows
 * ------------------------------------- */
.row {
    width: 92%;
    max-width: var(--width-grid-max);
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

.row .row {
    width: auto;
    max-width: none;
    margin-left: calc(var(--gutter-lg) * -1);
    margin-right: calc(var(--gutter-lg) * -1);
}

/* columns
 * -------------------------------------- */
.column {
    -ms-flex: 1 1 0%;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    padding: 0 var(--gutter-lg);
}

.collapse>.column, .column.collapse {
    padding: 0;
}

/* flex row containers utility classes
 */
.row.row-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.row-nowrap {
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
}

.row.row-y-top {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.row.row-y-bottom {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.row.row-y-center {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.row.row-stretch {
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.row.row-baseline {
    -ms-flex-align: baseline;
    -webkit-box-align: baseline;
    align-items: baseline;
}

.row.row-x-left {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.row.row-x-right {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.row.row-x-center {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}

/* flex item utility alignment classes
 */
.align-center {
    margin: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.align-left {
    margin-right: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.align-right {
    margin-left: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.align-x-center {
    margin-right: auto;
    margin-left: auto;
}

.align-x-left {
    margin-right: auto;
}

.align-x-right {
    margin-left: auto;
}

.align-y-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.align-y-top {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.align-y-bottom {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

/* large screen column widths 
 */
.large-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.large-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.large-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
}

.large-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.large-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.large-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.large-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.large-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.large-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
}

.large-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.large-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.large-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

/* ------------------------------------------------------------------- 
 * ## medium screen devices
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
    .row .row {
        margin-left: calc(var(--gutter-md) * -1);
        margin-right: calc(var(--gutter-md) * -1);
    }
    .column {
        padding: 0 var(--gutter-md);
    }
    .medium-1 {
        -ms-flex: 0 0 8.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .medium-2 {
        -ms-flex: 0 0 16.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .medium-3 {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .medium-4 {
        -ms-flex: 0 0 33.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .medium-5 {
        -ms-flex: 0 0 41.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .medium-6 {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .medium-7 {
        -ms-flex: 0 0 58.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .medium-8 {
        -ms-flex: 0 0 66.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .medium-9 {
        -ms-flex: 0 0 75%;
        -webkit-box-flex: 0;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .medium-10 {
        -ms-flex: 0 0 83.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .medium-11 {
        -ms-flex: 0 0 91.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .medium-12 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* ------------------------------------------------------------------- 
 * ## tablets
 * ------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
    .row {
        width: 90%;
    }
    .tab-1 {
        -ms-flex: 0 0 8.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .tab-2 {
        -ms-flex: 0 0 16.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .tab-3 {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .tab-4 {
        -ms-flex: 0 0 33.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .tab-5 {
        -ms-flex: 0 0 41.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .tab-6 {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .tab-7 {
        -ms-flex: 0 0 58.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .tab-8 {
        -ms-flex: 0 0 66.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .tab-9 {
        -ms-flex: 0 0 75%;
        -webkit-box-flex: 0;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .tab-10 {
        -ms-flex: 0 0 83.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .tab-11 {
        -ms-flex: 0 0 91.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .tab-12 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .hide-on-tablet {
        display: none;
    }
}

/* ------------------------------------------------------------------- 
 * ## mobile devices
 * ------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
    .row {
        width: 100%;
        padding-left: 6vw;
        padding-right: 6vw;
    }
    .row .row {
        margin-left: calc(var(--gutter-mob) * -1);
        margin-right: calc(var(--gutter-mob) * -1);
        padding-left: 0;
        padding-right: 0;
    }
    .column {
        padding: 0 var(--gutter-mob);
    }
    .mob-1 {
        -ms-flex: 0 0 8.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .mob-2 {
        -ms-flex: 0 0 16.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .mob-3 {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .mob-4 {
        -ms-flex: 0 0 33.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .mob-5 {
        -ms-flex: 0 0 41.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .mob-6 {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .mob-7 {
        -ms-flex: 0 0 58.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .mob-8 {
        -ms-flex: 0 0 66.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .mob-9 {
        -ms-flex: 0 0 75%;
        -webkit-box-flex: 0;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .mob-10 {
        -ms-flex: 0 0 83.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .mob-11 {
        -ms-flex: 0 0 91.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .mob-12 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }
}

/* ------------------------------------------------------------------- 
 * ## small mobile devices <= 400px
 * ------------------------------------------------------------------- */
@media screen and (max-width: 400px) {
    .row .row {
        margin-left: 0;
        margin-right: 0;
    }
    .column {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .hide-on-mobile-small {
        display: none;
    }
}


/* ===================================================================
 * # block grids
 *
 * -------------------------------------------------------------------
 * Equally-sized columns define at parent/row level.
 * ------------------------------------------------------------------- */
.block-large-1-8>.column {
    -ms-flex: 0 0 12.5%;
    -webkit-box-flex: 0;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}

.block-large-1-6>.column {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.block-large-1-5>.column {
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
}

.block-large-1-4>.column {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
}

.block-large-1-3>.column {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.block-large-1-2>.column {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.block-large-full>.column {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

/* ------------------------------------------------------------------- 
 * ## block grids - medium screen devices
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
    .block-medium-1-8>.column {
        -ms-flex: 0 0 12.5%;
        -webkit-box-flex: 0;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .block-medium-1-6>.column {
        -ms-flex: 0 0 16.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .block-medium-1-5>.column {
        -ms-flex: 0 0 20%;
        -webkit-box-flex: 0;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .block-medium-1-4>.column {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .block-medium-1-3>.column {
        -ms-flex: 0 0 33.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .block-medium-1-2>.column {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .block-medium-full>.column {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* ------------------------------------------------------------------- 
 * ## block grids - tablets
 * ------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
    .block-tab-1-8>.column {
        -ms-flex: 0 0 12.5%;
        -webkit-box-flex: 0;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .block-tab-1-6>.column {
        -ms-flex: 0 0 16.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .block-tab-1-5>.column {
        -ms-flex: 0 0 20%;
        -webkit-box-flex: 0;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .block-tab-1-4>.column {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .block-tab-1-3>.column {
        -ms-flex: 0 0 33.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .block-tab-1-2>.column {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .block-tab-full>.column {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* ------------------------------------------------------------------- 
 * ## block grids - mobile devices
 * ------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
    .block-mob-1-8>.column {
        -ms-flex: 0 0 12.5%;
        -webkit-box-flex: 0;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .block-mob-1-6>.column {
        -ms-flex: 0 0 16.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .block-mob-1-5>.column {
        -ms-flex: 0 0 20%;
        -webkit-box-flex: 0;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .block-mob-1-4>.column {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .block-mob-1-3>.column {
        -ms-flex: 0 0 33.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .block-mob-1-2>.column {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .block-mob-full>.column {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* ------------------------------------------------------------------- 
 * ## block grids - small mobile devices <= 400px
 * ------------------------------------------------------------------- */
@media screen and (max-width: 400px) {
    .stack>.column {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
}


/* ===================================================================
 * # MISC 
 *
 * ------------------------------------------------------------------- */
.h-group:after {
    content: "";
    display: table;
    clear: both;
}

/* misc helper classes
 */
.is-hidden {
    display: none;
}

.is-invisible {
    visibility: hidden;
}

.h-screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    position: absolute;
}

.h-antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h-overflow-hidden {
    overflow: hidden;
}

.h-remove-top {
    margin-top: 0;
}

.h-remove-bottom {
    margin-bottom: 0;
}

.h-add-half-bottom {
    margin-bottom: var(--vspace-0_5) !important;
}

.h-add-bottom {
    margin-bottom: var(--vspace-1) !important;
}

.h-no-border {
    border: none;
}

.h-full-width {
    width: 100%;
}

.h-text-center {
    text-align: center;
}

.h-text-left {
    text-align: left;
}

.h-text-right {
    text-align: right;
}

.h-pull-left {
    float: left;
}

.h-pull-right {
    float: right;
}


/* ===================================================================
 * # custom grid, block grid STACK breakpoints
 *
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
    .w-1000-stack, .block-1000-stack>.column {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .w-700-stack, .block-700-stack>.column {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .w-500-stack, .block-500-stack>.column {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* ===================================================================
 * # base style overrides 
 *
 * ------------------------------------------------------------------- */
html {
    font-size: var(--base-size);
}

html, body {
    height: 100%;
}

body {
    background: var(--color-bg);
    font-family: var(--font-1);
    font-size: var(--text-size);
    font-style: normal;
    font-weight: normal;
    line-height: var(--vspace-1);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------------- 
 * ## links
 * ------------------------------------------------------------------- */
a {
    color: var(--color-1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover, a:focus, a:active {
    color: var(--color-2);
}

a:hover, a:active {
    outline: 0;
}


/* ===================================================================
 * # typography & general theme styles
 * 
 * ------------------------------------------------------------------- */

/* type scale - ratio 1:2 | base: 18px
 * -------------------------------------------------------------------
 * --text-display-3 = (77.40px)
 * --text-display-2 = (64.50px)
 * --text-display-1 = (53.75px)
 * --text-xxxl      = (44.79px)
 * --text-xxl       = (37.32px)
 * --text-xl        = (31.10px)
 * --text-lg        = (25.92px)
 * --text-md        = (21.60px)
 * --text-size      = (18.00px) BASE
 * --text-sm        = (15.00px)
 * --text-xs        = (12.50px)
 * -------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-1);
    font-weight: 600;
    font-style: normal;
    color: var(--color-text-dark);
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
}

h1, .h1 {
    margin-top: var(--vspace-3);
    margin-bottom: var(--vspace-0_75);
}

h2, .h2, h3, .h3, h4, .h4 {
    margin-top: var(--vspace-2_5);
    margin-bottom: var(--vspace-0_5);
}

h5, .h5, h6, .h6 {
    margin-top: var(--vspace-1_5);
    margin-bottom: var(--vspace-0_5);
}

h1, .h1 {
    font-size: var(--text-display-1);
    line-height: calc(var(--vspace-1_75) + var(--vspace-0_125));
    letter-spacing: -.015em;
}

@media screen and (max-width: 600px) {
    h1, .h1 {
        font-size: var(--text-xxxl);
        line-height: var(--vspace-1_75);
    }
}

h2, .h2 {
    font-size: var(--text-xxl);
    line-height: calc(var(--vspace-1_25) + var(--vspace-0_125));
    letter-spacing: -.01em;
}

h3, .h3 {
    font-size: var(--text-xl);
    line-height: var(--vspace-1_25);
}

h4, .h4 {
    font-size: var(--text-lg);
    line-height: var(--vspace-1);
}

h5, .h5 {
    font-size: var(--text-md);
    line-height: calc(0.875 * var(--space));
}

h6, .h6 {
    font-size: var(--text-sm);
    font-weight: 700;
    line-height: var(--vspace-0_75);
    text-transform: uppercase;
    letter-spacing: .2em;
}

.lead, .attention-getter {
    font-weight: 300;
    font-size: var(--text-md);
    line-height: calc(1.125 * var(--space));
    color: var(--color-text-dark);
}

@media screen and (max-width: 400px) {
    .lead, .attention-getter {
        font-size: calc(var(--text-size) * 1.0556);
    }
}

figure img, p img {
    margin: 0;
    vertical-align: bottom;
}

em, i, strong, b {
    font-size: inherit;
    line-height: inherit;
}

em, i {
    font-family: var(--font-1);
    font-style: italic;
}

strong, b {
    font-family: var(--font-1);
    font-weight: 600;
    color: var(--color-text-dark);
}

small {
    font-size: var(--text-sm);
    font-weight: 500;
    line-height: var(--vspace-0_5);
}

figure {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

figure img+figcaption {
    margin-top: var(--vspace-1);
}

figcaption {
    font-size: var(--text-sm);
    text-align: center;
    margin-bottom: 0;
}

var, kbd, samp {
    font-family: var(--font-mono);
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
    width: 100%;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
    width:100%
}
pre > code {
	all: unset;
}


del {
    text-decoration: line-through;
}

abbr {
    font-family: var(--font-1);
    font-weight: 400;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: .1em;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
    text-decoration: none;
}

mark {
    background: var(--color-notice);
    color: var(--color-black);
}

hr {
    border: solid var(--color-border);
    border-width: .1rem 0 0;
    clear: both;
    margin: var(--vspace-2) 0 calc(var(--vspace-2) - .1rem);
    height: 0;
}

hr.fancy {
    border: none;
    margin: var(--vspace-2) 0;
    height: var(--vspace-1);
    text-align: center;
}

hr.fancy::before {
    content: "*****";
    letter-spacing: .3em;
}

/* ------------------------------------------------------------------- 
 * ## Lists
 * ------------------------------------------------------------------- */
ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    display: list-item;
}

ol, ul {
    margin-left: 1.6rem;
}

ul li {
    padding-left: .4rem;
}

ul ul, ul ol, ol ol, ol ul {
    margin: 1.6rem 0 1.6rem 1.6rem;
}

ul.disc li {
    display: list-item;
    list-style: none;
    padding: 0 0 0 .8rem;
    position: relative;
}

ul.disc li::before {
    content: "";
    display: inline-block;
    width: var(--vspace-0_25);
    height: var(--vspace-0_25);
    border-radius: 50%;
    background: var(--color-1-dark);
    position: absolute;
    left: -.9em;
    top: .65em;
    vertical-align: middle;
}

dt {
    margin: 0;
    color: var(--color-1);
}

dd {
    margin: 0 0 0 2rem;
}

/* ------------------------------------------------------------------- 
 * ## responsive video container
 * ------------------------------------------------------------------- */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe, 
.video-container object, 
.video-container embed, 
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ------------------------------------------------------------------- 
 * ## floated image 
 * ------------------------------------------------------------------- */
img.h-pull-right {
    margin: var(--vspace-0_5) 0 var(--vspace-0_5) 2.8rem;
}

img.h-pull-left {
    margin: var(--vspace-0_5) 2.8rem var(--vspace-0_5) 0;
}

/* ------------------------------------------------------------------- 
 * ## tables
 * ------------------------------------------------------------------- */
table {
    border-width: 0;
    width: 100%;
    max-width: 100%;
    font-family: var(--font-1);
    border-collapse: collapse;
}

th, td {
    padding: var(--vspace-0_5) 3.2rem calc(var(--vspace-0_5) - .1rem);
    text-align: left;
    border-bottom: 1px solid var(--color-border);
}

th {
    padding: var(--vspace-0_5) 3.2rem;
    color: var(--color-text-dark);
    font-family: var(--font-1);
    font-weight: 600;
}

th:first-child, td:first-child {
    padding-left: 0;
}

th:last-child, td:last-child {
    padding-right: 0;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* ------------------------------------------------------------------- 
 * ## spacing
 * ------------------------------------------------------------------- */
fieldset, 
button, 
.btn {
    margin-bottom: var(--vspace-0_5);
}

input, 
textarea, 
select, 
pre, 
figure, 
figcaption, 
table, 
p, 
ul, 
ol, 
dl, 
form, 
img, 
.video-container, 
.ss-custom-select {
    margin-bottom: var(--vspace-1);
}

/* ===================================================================
 * # forms 
 *
 * ------------------------------------------------------------------- */
fieldset {
    border: none;
}

input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="text"], 
input[type="tel"], 
input[type="url"], 
input[type="password"], 
textarea, 
select {
    --input-height: var(--vspace-2);
    --input-line-height: var(--vspace-1);
    --input-vpadding: calc((var(--input-height) - var(--input-line-height)) / 2);
    display: block;
    height: var(--input-height);
    padding: var(--input-vpadding) 0 calc(var(--input-vpadding) - .1rem);
    border: 0;
    outline: none;
    color: var(--color-text);
    font-family: var(--font-1);
    font-size: calc(var(--text-size) * 0.7778);
    line-height: var(--input-line-height);
    max-width: 100%;
    background: transparent;
    border-bottom: 1px solid var(--color-gray-8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.ss-custom-select {
    position: relative;
    padding: 0;
}

.ss-custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    margin: 0;
    line-height: 3rem;
    vertical-align: middle;
}

.ss-custom-select select option {
    padding-left: 2rem;
    padding-right: 2rem;
}

.ss-custom-select select::-ms-expand {
    display: none;
}

.ss-custom-select::after {
    border-bottom: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    margin-top: -7px;
    pointer-events: none;
    position: absolute;
    right: 2.4rem;
    top: 50%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

textarea {
    min-height: 25.6rem;
}

input[type="email"]:focus, 
input[type="number"]:focus, 
input[type="search"]:focus, 
input[type="text"]:focus, 
input[type="tel"]:focus, 
input[type="url"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
select:focus {
    color: var(--color-black);
    border-bottom: 1px solid var(--color-1);
}

label, legend {
    font-family: var(--font-1);
    font-weight: 700;
    font-size: var(--text-sm);
    line-height: var(--vspace-0_5);
    margin-bottom: var(--vspace-0_5);
    color: var(--color-text-dark);
    display: block;
}

input[type="checkbox"], 
input[type="radio"] {
    display: inline;
}

label>.label-text {
    display: inline-block;
    margin-left: 1rem;
    font-family: var(--font-1);
    line-height: inherit;
}

label>input[type="checkbox"], 
label>input[type="radio"] {
    margin: 0;
    position: relative;
    top: .2rem;
}

/* ------------------------------------------------------------------- 
 * ## Style Placeholder Text
 * ------------------------------------------------------------------- */
::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: var(--color-placeholder);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-placeholder);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--color-placeholder);
}

::placeholder {
    /* Most modern browsers support this now. */
    color: var(--color-placeholder);
}


/* ===================================================================
 * # buttons 
 *
 * ------------------------------------------------------------------- */
.btn, 
button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
    --btn-height: var(--vspace-btn);
    display: inline-block;
    font-family: var(--font-1);
    font-weight: 600;
    font-size: var(--text-xs);
    text-transform: uppercase;
    letter-spacing: .35em;
    height: var(--btn-height);
    line-height: calc(var(--btn-height) - .4rem);
    padding: 0 3.6rem;
    margin: 0 .4rem 1.6rem 0;
    color: var(--color-btn-text);
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: var(--border-radius);
    background-color: var(--color-btn);
    border: 0.2rem solid var(--color-btn);
}

.btn:hover, 
button:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="button"]:hover, 
.btn:focus, 
button:focus, 
input[type="submit"]:focus, 
input[type="reset"]:focus, 
input[type="button"]:focus {
    background-color: var(--color-btn-hover);
    border-color: var(--color-btn-hover);
    color: var(--color-btn-hover-text);
    outline: 0;
}

/* button primary
 * ------------------------------------------------- */
.btn.btn--primary, 
button.btn--primary, 
input[type="submit"].btn--primary, 
input[type="reset"].btn--primary, 
input[type="button"].btn--primary {
    background: var(--color-2);
    border-color: var(--color-2);
    color: var(--color-btn-primary-text);
}

.btn.btn--primary:hover, 
button.btn--primary:hover, 
input[type="submit"].btn--primary:hover, 
input[type="reset"].btn--primary:hover, 
input[type="button"].btn--primary:hover, 
.btn.btn--primary:focus, 
button.btn--primary:focus, 
input[type="submit"].btn--primary:focus, 
input[type="reset"].btn--primary:focus, 
input[type="button"].btn--primary:focus {
    background: var(--color-btn-primary-hover);
    border-color: var(--color-btn-primary-hover);
    color: var(--color-btn-primary-hover-text);
}

/* button modifiers
 * ------------------------------------------------- */
.btn.h-full-width, button.h-full-width {
    width: 100%;
    margin-right: 0;
}

.btn--small, button.btn--small {
    --btn-height: calc(var(--vspace-btn) - 1.6rem);
}

.btn--medium, button.btn--medium {
    --btn-height: calc(var(--vspace-btn) + .8rem);
}

.btn--large, button.btn--large {
    --btn-height: calc(var(--vspace-btn) + 1.6rem);
}

.btn--stroke, button.btn--stroke {
    background: transparent !important;
    border: 0.2rem solid var(--color-btn-stroke);
    color: var(--color-btn-stroke-text);
}

.btn--stroke:hover, button.btn--stroke:hover {
    background: var(--color-btn-stroke-hover) !important;
    border: 0.2rem solid var(--color-btn-stroke-hover);
    color: var(--color-btn-stroke-hover-text);
}

.btn--pill, button.btn--pill {
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;
    border-radius: 1000px !important;
}

/* ------------------------------------------------------------------- 
 * ## skillbars
 * ------------------------------------------------------------------- */
.skill-bars-fat {
    list-style: none;
    margin: var(--vspace-2) 0 var(--vspace-1);
}

.skill-bars-fat li {
    height: 5.2rem;
    background: transparent;
    margin-bottom: 5.2rem;
    padding: 0;
    position: relative;
}

.skill-bars-fat li strong {
    font-family: var(--font-1);
    font-weight: 600;
    color: var(--color-text-dark);
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: calc(var(--text-size) * 0.7778);
    line-height: 2rem;
    position: absolute;
    top: -3.2rem;
    left: 0;
}

.skill-bars-fat li .progress {
    background: var(--color-gray-3);
    position: relative;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.skill-bars-fat li .progress::before {
    content: "";
    display: block;
    height: 100%;
    background-color: var(--color-gray-18);
}

.skill-bars-fat li .percent5::before {
    width: 5%;
}

.skill-bars-fat li .percent10::before {
    width: 10%;
}

.skill-bars-fat li .percent15::before {
    width: 15%;
}

.skill-bars-fat li .percent20::before {
    width: 20%;
}

.skill-bars-fat li .percent25::before {
    width: 25%;
}

.skill-bars-fat li .percent30::before {
    width: 30%;
}

.skill-bars-fat li .percent35::before {
    width: 35%;
}

.skill-bars-fat li .percent40::before {
    width: 40%;
}

.skill-bars-fat li .percent45::before {
    width: 45%;
}

.skill-bars-fat li .percent50::before {
    width: 50%;
}

.skill-bars-fat li .percent55::before {
    width: 55%;
}

.skill-bars-fat li .percent60::before {
    width: 60%;
}

.skill-bars-fat li .percent65::before {
    width: 65%;
}

.skill-bars-fat li .percent70::before {
    width: 70%;
}

.skill-bars-fat li .percent75::before {
    width: 75%;
}

.skill-bars-fat li .percent80::before {
    width: 80%;
}

.skill-bars-fat li .percent85::before {
    width: 85%;
}

.skill-bars-fat li .percent90::before {
    width: 90%;
}

.skill-bars-fat li .percent95::before {
    width: 95%;
}

.skill-bars-fat li .percent100::before {
    width: 100%;
}

/* ===================================================================
 * # common and reusable styles
 *
 * ------------------------------------------------------------------- */
.wide {
    max-width: var(--width-wide);
}

.narrow {
    max-width: var(--width-narrow);
}

.sticky-block {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
}

.section-header-allcaps {
    display: inline-block;
    font-size: var(--text-size);
    line-height: var(--vspace-1_25);
    text-transform: uppercase;
    letter-spacing: .25em;
    padding-left: .25em;
    padding-bottom: .1em;
    margin-top: 0;
    margin-bottom: var(--vspace-1_5);
    position: relative;
}

.section-header-allcaps:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color-1);
    position: absolute;
    left: 0;
    bottom: 0;
}

/* ------------------------------------------------------------------- 
 * ## MailtoUI style overrides
 * ------------------------------------------------------------------- */
.mailtoui-modal {
    --mailtoui-modal-head-bgcolor: var(--color-gray-18);
    --mailtoui-modal-head-title-color: white;
    --mailtoui-modal-body-bgcolor: var(--color-gray-14);
    --mailtoui-button-bgcolor: var(--color-gray-16);
    --mailtoui-button-text-color: white;
    --mailtoui-button-bgcolor-hover: var(--color-2);
    --mailtoui-button-text-color-hover: white;
    --mailtoui-button-text-size: 16px;
    --mailtoui-email-address-bgcolor: var(--color-gray-10);
    --mailtoui-email-address-text-color: black;
    font-family: var(--font-1);
    background-color: #151515;
    color: white;
}

.mailtoui-modal-content {
    background-color: var(--mailtoui-modal-body-bgcolor);
    border-radius: var(--border-radius);
}

.mailtoui-modal-content button {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.mailtoui-modal-head {
    background-color: var(--mailtoui-modal-head-bgcolor);
}

.mailtoui-modal-title {
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 16px;
    color: var(--mailtoui-modal-head-title-color);
}

.mailtoui-modal-close {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    font-size: 32px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.mailtoui-modal-close:hover, .mailtoui-modal-close:focus {
    color: white;
    font-weight: 300;
}

.mailtoui-modal-body {
    background-color: var(--mailtoui-modal-body-bgcolor);
}

.mailtoui-button-text {
    font-size: var(--mailtoui-button-text-size);
    text-transform: none;
    letter-spacing: 0;
}

.mailtoui-button:focus .mailtoui-button-content {
    background-color: var(--color-2);
    color: white;
}

.mailtoui-button-content, .mailtoui-button-copy {
    background-color: var(--mailtoui-button-bgcolor);
    color: var(--mailtoui-button-text-color);
    border-radius: var(--border-radius);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mailtoui-button-content:hover, 
.mailtoui-button-content:focus, 
.mailtoui-button-copy:hover, 
.mailtoui-button-copy:focus {
    background-color: var(--mailtoui-button-bgcolor-hover);
    color: var(--mailtoui-button-text-color-hover);
}

.mailtoui-copy {
    border-radius: var(--border-radius);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mailtoui-button-icon-copy {
    line-height: var(--vspace-1);
}

.mailtoui-button-copy-clicked, 
.mailtoui-button-copy-clicked:hover, 
.mailtoui-button-copy-clicked:focus {
    background-color: #1F9D55;
    color: white;
}

.mailtoui-email-address {
    background-color: var(--mailtoui-email-address-bgcolor);
    color: var(--mailtoui-email-address-text-color);
    font-size: 16px;
    line-height: 1;
    border-radius: var(--border-radius);
}

.mailtoui-brand a {
    color: rgba(255, 255, 255, 0.4);
}

.mailtoui-brand a:hover, .mailtoui-brand a:focus {
    font-weight: 400;
    color: white;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * common and reusable styles
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
    .section-header-allcaps {
        font-size: calc(var(--text-size) * 0.9444);
    }
}

@media screen and (max-width: 900px) {
    .section-header-allcaps {
        font-size: calc(var(--text-size) * 0.8889);
    }
}

@media screen and (max-width: 800px) {
    .section-header-allcaps {
        font-size: var(--text-size);
        text-align: center;
        margin-bottom: calc(2.75 * var(--space));
    }
}




