---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Title.astro";
import About from "../components/About.astro";
import Resume from "../components/Resume.astro";
import Contact from "../components/Contact.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Tawk from "../components/tawk.astro";
---

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body id="top" class="ss-preload">
    <Header current="/#hero" animateHeader />
    <Hero />
    <About />
    <Resume />
    <Contact />
    <Footer withBorder />
    <Tawk />
  </body>
</html>
