<section id="resume" class="s-resume target-section">
  <div class="row s-resume__section">
    <div class="column large-3 tab-12">
      <h3 class="section-header-allcaps">Career</h3>
    </div>
    <div class="column large-9 tab-12">
      <div class="resume-block">
        <div class="resume-block__header">
          <h4 class="h3">Independent Edge AI & Fullstack Contractor</h4>
          <p class="resume-block__header-meta">
            <span>Contractor</span>
            <span class="resume-block__header-date"> December 2023 </span>
            <span class="resume-block__header-date"> Cambridge, UK </span>
          </p>
        </div>
      </div>

      <div class="resume-block">
        <div class="resume-block__header">
          <h4 class="h3">JavaScript & NodeJS Cambridge Group</h4>
          <p class="resume-block__header-meta">
            <span>Organiser</span>
            <span class="resume-block__header-date"> July 2023 </span>
            <span class="resume-block__header-date"> Cambridge, UK </span>
          </p>
        </div>

        <p>
          Running <a
            href="https://www.meetup.com/JavaScript-Cambridge/"
            target="”_blank”">JavaScript & NodeJS Cambridge</a
          > group:
        </p>
        <ul>
          <li>
            Leading the organisation of this popular meetup group in Cambridge
          </li>
          <li>Fundrising</li>
          <li>Finding speakers</li>
          <li>Doing presentations and introductions</li>
          <li>Networking</li>
        </ul>
      </div>

      <div class="resume-block">
        <div class="resume-block__header">
          <h4 class="h3">Intellegens</h4>
          <p class="resume-block__header-meta">
            <span>Lead Machine Learning Developer</span>
            <span class="resume-block__header-date"> May 2023 </span>
            <span class="resume-block__header-date"> Cambridge, UK </span>
          </p>
        </div>

        <p>
          In this role, I am leading the development of Alchemite Analytics™
          platform, a fullstack kubernetes application consiting of a React +
          TypeScript frontend and a Node.js + GraphQL backend.
        </p>
        <ul>
          <li>Line management and team leadership.</li>
          <li>Wrote features using TypeScript, React, Node.js and GraphQL.</li>
          <li>Facilitated Sprint Plannings and Scoping Meetings.</li>
          <li>
            Introduced a Continuous Delivery deployment pipeline to the company.
          </li>
          <li>Hired fullstack and frontend developers for the company.</li>
        </ul>
        <p>
          For a consultancy project I developed, from scratch, Alchemite Lite™,
          an Edge AI imple- mentation of our platform for embedded systems:
        </p>
        <ul>
          <li>
            Wrote an Edge AI firmware for the chip nrf528332 from Nordic using C
            language.
          </li>
          <li>
            Built a hardware demonstrator for our Edge AI product using a
            nrf52-DK board.
          </li>
          <li>
            Optimized the code so it fits within the RAM and ROM constraints.
          </li>
          <li>
            Worked with our team of machine learning engineers to integrate
            their ML in the chip.
          </li>
          <li>Handled weekly customer meetings.</li>
        </ul>
      </div>

      <div class="resume-block">
        <div class="resume-block__header">
          <p class="resume-block__header-meta">
            <span>Senior Software Engineer</span>
            <span class="resume-block__header-date"> January 2020 </span>
            <span class="resume-block__header-date"> Cambridge, UK </span>
          </p>
        </div>

        <p>
          Intellegens is a spin-out from the University of Cambridge that has
          developed a unique deep learning method (Alchemite™) for training
          neural networks from incomplete data. Suitable for deployment across
          any kind of numeric dataset, Alchemite™ is delivering ground-breaking
          results in drug discovery, advanced materials, patient analytics and
          predictive maintenance.
        </p>

        <p>
          I was hired to start, from sratch, the development of Alchemite
          Analytics™, a web platform used to train, deploy and visualize
          machine learning models from sparse and noisy datasets:
        </p>

        <ul>
          <li>
            Defined the programming languages and main libraries to use:
            TypeScript and React.
          </li>
          <li>
            Implemented the design mockups using paper wireframing, Procreate
            and Mockup App.
          </li>
          <li>
            Implemented React components and the initial design language of the
            platform.
          </li>
          <li>Designed and implemented a GraphQL backend on top of Node.js.</li>
          <li>
            Designed and implemented a Continuous Integration (CI) pipeline
            using Docker, Kubernetes, CircleCI and a Monorepo architecture on
            GithHub.
          </li>
        </ul>
      </div>

      <div class="resume-block">
        <div class="resume-block__header">
          <h4 class="h3">Repositive</h4>
          <p class="resume-block__header-meta">
            <span>Software Developer</span>
            <span class="resume-block__header-date"> November 2017 </span>
            <span class="resume-block__header-date"> Cambridge, UK </span>
          </p>
        </div>
        <p>
          Repositive is changing the way genetics researchers discover and
          interact with human DNA data. Data access is difficult and time
          consuming, a bottleneck for advances in cancer and genetic diseases
          research. Our ambition is to provide a data access process so smooth,
          it will be as simple as ’one click to DNA data access.
        </p>

        <p>
          I developed a web platform for categorizing, searching and sharing PDX
          cancer models within a team of 8 developers:
        </p>

        <ul>
          <li>
            Developed a large Ember.js frontend application using JavaScript and
            Redux.
          </li>
          <li>
            Developed API endpoints in a custom backend with TypeScript and
            Postgres.
          </li>
          <li>
            Worked close to our Team Lead to help to refactor monolithic backend
            services into an event-sourcing DDD microservices architecture.
          </li>
          <li>
            Writing unit and acceptance tests with Mirage and BDD tests with
            Cucumber.
          </li>
          <li>
            Designed a mobile-first demonstrator of our PDX platform using
            React.js, Redux and Bulma.
          </li>
        </ul>
      </div>

      <div class="resume-block">
        <div class="resume-block__header">
          <h4 class="h3">Alibaba Cloud (Contest)</h4>
          <p class="resume-block__header-meta">
            <span>Machine Learning Engineer</span>
            <span class="resume-block__header-date"> March 2017 </span>
            <span class="resume-block__header-date"> Remote </span>
          </p>
        </div>

        <p>
          I am participating in the CIKM AnalitiCup 2017. It is a challenge
          organised by Alibaba cloud where the participants have 4 months to
          predict short-term rainfall amount using Machine Learning algorithms
          applied to radar images.
        </p>

        <ul>
          <li>
            Radarplot: A library to read the CIKM AnalaytiCup 2017 dataset (<a
              href="https://github.com/jpcano/radarplot"
              target="”_blank”">https://github.com/jpcano/radarplot</a
            >)
          </li>
          <li>
            Radarweb: Used for data visualization (<a
              href="https://github.com/jpcano/radarweb"
              target="”_blank”">https://github.com/jpcano/radarweb</a
            >). Demo: <a
              href="https://jesus.engineer/radarweb"
              target="”_blank”">https://jesus.engineer/radarweb</a
            >
          </li>
        </ul>
      </div>

      <div class="resume-block">
        <div class="resume-block__header">
          <h4 class="h3">Sourced</h4>
          <p class="resume-block__header-meta">
            <span>Developer Relations (Technical Recruiter)</span>
            <span class="resume-block__header-date"> November 2015 </span>
            <span class="resume-block__header-date"> Madrid, Spain </span>
          </p>
        </div>

        <p>
          Working as a Developer Relations in a company that looks to understand
          developers through the code they have written. They analyse the code
          of +6 million developers using Machine Learning algorithms and help
          over 100 customers get introduced to developers
        </p>

        <ul>
          <li>
            Assesed technical skills of around 1000 engineers from San
            Francisco, Germany, France, UK, Russia, Spain and India.
          </li>
          <li>Hired 6 engineers</li>
          <li>
            Handled regular meetings with our customers to understand their
            needs.
          </li>
          <li>
            Developed tools using Python, Qt and BigQuery to speed up the
            process of finding developers. One of those apps is called Resourcer
            (<a href="https://github.com/jpcano/resourcer" target="”_blank”"
              >https://github.com/jpcano/resourcer</a
            >).
          </li>
        </ul>
      </div>

      <div class="resume-block">
        <div class="resume-block__header">
          <h4 class="h3">Gigas Hosting</h4>
          <p class="resume-block__header-meta">
            <span>Software Developer Intern</span>
            <span class="resume-block__header-date"> February 2015 </span>
            <span class="resume-block__header-date"> Alcobendas, Spain </span>
          </p>
        </div>

        <p>
          Leading cloud hosting company in Spain and a growing force throughout
          Latinamerica.
        </p>
      </div>

      <div class="resume-block">
        <div class="resume-block__header">
          <h4 class="h3">IETR</h4>
          <p class="resume-block__header-meta">
            <span>Research Engineer</span>
            <span class="resume-block__header-date"> February 2014 </span>
            <span class="resume-block__header-date"> Rennes, France </span>
          </p>
        </div>

        <p>
          I ported an HEVC/H.265 video decoder to ARM and Texas Intruments DSPs,
          measured its performance and optimized it by using the Advanced SIMD
          instructions.
        </p>
      </div>
    </div>
  </div>

  <div class="row s-resume__section">
    <div class="column large-3 tab-12">
      <h3 class="section-header-allcaps">Education</h3>
    </div>
    <div class="column large-9 tab-12">
      <div class="resume-block">
        <div class="resume-block__header">
          <h4 class="h3">Udacity</h4>
          <p class="resume-block__header-meta">
            <span>Intermediate Python Nanodegree</span>
            <span class="resume-block__header-date"> 2024 </span>
            <span class="resume-block__header-date"> Cambridge, UK </span>
          </p>
        </div>

        <p>
          <a
            href="https://www.udacity.com/certificate/e/2eff7bd4-914b-11ee-9b46-c3cc40238511"
            target="”_blank”">Show credential</a
          >
        </p>

        <p>
          File i/o • Functional programming concepts • Python data structures •
          Python exception handling • Python data types • Code debugging • Magic
          methods • Python namespaces • Pythonic design patterns • Python
          decorator functions • Object-oriented design patterns • Object
          creation design patterns • Python virtual environments • Web services
          • Application servers • Pythonic design patterns • Object creation
          design patterns • Pip • Abstraction • Flask • Pep8 • Modular code •
          Application routing • Python package management • Inheritance •
          Application dependency management • Python modules • Fetching data •
          REST APIs
        </p>
      </div>

      <div class="resume-block">
        <div class="resume-block__header">
          <h4 class="h3">Technical University of Madrid</h4>
          <p class="resume-block__header-meta">
            <span
              >Master in Systems and Services for the Information Society</span
            >
            <span class="resume-block__header-date"> 2014 </span>
            <span class="resume-block__header-date"> Madrid, Spain </span>
          </p>
        </div>

        <p>Programming. Video coding.</p>
      </div>

      <div class="resume-block">
        <div class="resume-block__header">
          <h4 class="h3">Institut des Sciences Apliquées INSA</h4>
          <p class="resume-block__header-meta">
            <span>Electronique et Informatique Industruelle, 5th year</span>
            <span class="resume-block__header-date"> 2013 </span>
            <span class="resume-block__header-date"> Rennes, France </span>
          </p>
        </div>

        <p>Image processing, computer vision and embedded systems.</p>
      </div>

      <div class="resume-block">
        <div class="resume-block__header">
          <h4 class="h3">Technical University of Madrid</h4>
          <p class="resume-block__header-meta">
            <span>Degree in Telecommunication Engineering</span>
            <span class="resume-block__header-date"> 2008 </span>
            <span class="resume-block__header-date"> Madrid, Spain </span>
          </p>
        </div>

        <p>Electronic communication systems.</p>
      </div>
    </div>
  </div>

  <div class="row s-resume__section">
    <div class="column large-3 tab-12">
      <h3 class="section-header-allcaps">Skills</h3>
    </div>
    <div class="column large-9 tab-12">
      <div class="resume-block">
        <ul class="skill-bars-fat">
          <li>
            <div class="progress percent100"></div>
            <strong>JavaScript / Node.js</strong>
          </li>
          <li>
            <div class="progress percent100"></div>
            <strong>React.js / Ember.js</strong>
          </li>
          <li>
            <div class="progress percent100"></div>
            <strong>TypeScript</strong>
          </li>
          <li>
            <div class="progress percent100"></div>
            <strong>Python</strong>
          </li>
          <li>
            <div class="progress percent100"></div>
            <strong>C</strong>
          </li>
          <li>
            <div class="progress percent75"></div>
            <strong>Rust</strong>
          </li>
          <li>
            <div class="progress percent100"></div>
            <strong>REST, GraphQL, OpenAPI</strong>
          </li>
          <li>
            <div class="progress percent100"></div>
            <strong>Jest / Testing Library / Cypress / Pupeeteer</strong>
          </li>
          <li>
            <div class="progress percent100"></div>
            <strong>CircleCI / GitHub Actions</strong>
          </li>
          <li>
            <div class="progress percent90"></div>
            <strong>Docker / Kubernetes / Helm</strong>
          </li>
          <li>
            <div class="progress percent90"></div>
            <strong>Google Cloud / AWS</strong>
          </li>
          <li>
            <div class="progress percent90"></div>
            <strong>Embedded Systems (nrf52, Nordic Semiconductors)</strong>
          </li>
          <li>
            <div class="progress percent80"></div>
            <strong>Machine Learning</strong>
          </li>
          <li>
            <div class="progress percent80"></div>
            <strong>Edge AI</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .s-resume {
    background-color: white;
    padding-top: calc(6 * var(--space));
    padding-bottom: var(--vspace-4);
  }

  .s-resume__section {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: var(--vspace-0_75);
    margin-bottom: var(--vspace-2_5);
  }

  .s-resume__section:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .resume-block {
    margin-bottom: var(--vspace-1_75);
  }

  .resume-block h4 {
    line-height: 1.08;
    margin-top: 0;
    margin-bottom: var(--vspace-0_25);
  }

  .resume-block__header-meta {
    font-family: var(--font-2);
    font-size: calc(var(--text-size) * 1.1111);
    font-style: italic;
    margin-top: -0.4rem;
    margin-bottom: var(--vspace-0_75);
  }

  .resume-block__header-meta span:first-child {
    margin-right: 0.6rem;
  }

  .resume-block__header-date {
    display: inline-block;
    font-family: var(--font-1);
    font-size: calc(var(--text-size) * 0.8889);
    font-size: var(--text-sm);
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    color: var(--color-text-light);
  }

  .resume-block__header-date::before {
    content: "\2022";
    color: var(--color-text);
    margin-right: 0.2rem;
  }

  @media screen and (max-width: 800px) {
    .s-resume {
      padding-top: var(--vspace-4);
    }
    .s-resume__section .column:first-child {
      text-align: center;
    }
  }
</style>
