---
import ResumeBlock from "../components/ResumeBlock.astro";
import ResumeSection from "../components/ResumeSection.astro";
---

<section id="resume" class="s-resume target-section">
  <ResumeSection title="Career">
    <ResumeBlock
      company="Independent Edge AI & Fullstack Contractor"
      position="Contractor"
      startDate="December 2023"
      location="Cambridge, UK"
    />
    <div class="resume-block">
      <div class="resume-block__header">
        <h4 class="h3">JavaScript & NodeJS Cambridge Group</h4>
        <p class="resume-block__header-meta">
          <span>Organiser</span>
          <span class="resume-block__header-date"> July 2023 </span>
          <span class="resume-block__header-date"> Cambridge, UK </span>
        </p>
      </div>

      <p>
        Running <a
          href="https://www.meetup.com/JavaScript-Cambridge/"
          target="”_blank”">JavaScript & NodeJS Cambridge</a
        > group:
      </p>
      <ul>
        <li>
          Leading the organisation of this popular meetup group in Cambridge
        </li>
        <li>Fundrising</li>
        <li>Finding speakers</li>
        <li>Doing presentations and introductions</li>
        <li>Networking</li>
      </ul>
    </div>

    <ResumeBlock
      company="Intellegens"
      position="Lead Machine Learning Developer"
      startDate="May 2023"
      location="Cambridge, UK"
    >
      <p>
        In this role, I am leading the development of Alchemite Analytics™
        platform, a fullstack kubernetes application consiting of a React +
        TypeScript frontend and a Node.js + GraphQL backend.
      </p>
      <ul>
        <li>Line management and team leadership.</li>
        <li>Wrote features using TypeScript, React, Node.js and GraphQL.</li>
        <li>Facilitated Sprint Plannings and Scoping Meetings.</li>
        <li>
          Introduced a Continuous Delivery deployment pipeline to the company.
        </li>
        <li>Hired fullstack and frontend developers for the company.</li>
      </ul>
      <p>
        For a consultancy project I developed, from scratch, Alchemite Lite™,
        an Edge AI imple- mentation of our platform for embedded systems:
      </p>
      <ul>
        <li>
          Wrote an Edge AI firmware for the chip nrf528332 from Nordic using C
          language.
        </li>
        <li>
          Built a hardware demonstrator for our Edge AI product using a nrf52-DK
          board.
        </li>
        <li>
          Optimized the code so it fits within the RAM and ROM constraints.
        </li>
        <li>
          Worked with our team of machine learning engineers to integrate their
          ML in the chip.
        </li>
        <li>Handled weekly customer meetings.</li>
      </ul>
    </ResumeBlock>

    <ResumeBlock
      company="Intellegens"
      position="Senior Software Engineer"
      startDate="January 2020"
      location="Cambridge, UK"
    >
      <p>
        Intellegens is a spin-out from the University of Cambridge that has
        developed a unique deep learning method (Alchemite™) for training
        neural networks from incomplete data. Suitable for deployment across any
        kind of numeric dataset, Alchemite™ is delivering ground-breaking
        results in drug discovery, advanced materials, patient analytics and
        predictive maintenance.
      </p>

      <p>
        I was hired to start, from sratch, the development of Alchemite
        Analytics™, a web platform used to train, deploy and visualize machine
        learning models from sparse and noisy datasets:
      </p>

      <ul>
        <li>
          Defined the programming languages and main libraries to use:
          TypeScript and React.
        </li>
        <li>
          Implemented the design mockups using paper wireframing, Procreate and
          Mockup App.
        </li>
        <li>
          Implemented React components and the initial design language of the
          platform.
        </li>
        <li>Designed and implemented a GraphQL backend on top of Node.js.</li>
        <li>
          Designed and implemented a Continuous Integration (CI) pipeline using
          Docker, Kubernetes, CircleCI and a Monorepo architecture on GithHub.
        </li>
      </ul>
    </ResumeBlock>

    <ResumeBlock
      company="Repositive"
      position="Software Developer"
      startDate="November 2017"
      location="Cambridge, UK"
    >
      <p>
        Repositive is changing the way genetics researchers discover and
        interact with human DNA data. Data access is difficult and time
        consuming, a bottleneck for advances in cancer and genetic diseases
        research. Our ambition is to provide a data access process so smooth, it
        will be as simple as ’one click to DNA data access.
      </p>

      <p>
        I developed a web platform for categorizing, searching and sharing PDX
        cancer models within a team of 8 developers:
      </p>

      <ul>
        <li>
          Developed a large Ember.js frontend application using JavaScript and
          Redux.
        </li>
        <li>
          Developed API endpoints in a custom backend with TypeScript and
          Postgres.
        </li>
        <li>
          Worked close to our Team Lead to help to refactor monolithic backend
          services into an event-sourcing DDD microservices architecture.
        </li>
        <li>
          Writing unit and acceptance tests with Mirage and BDD tests with
          Cucumber.
        </li>
        <li>
          Designed a mobile-first demonstrator of our PDX platform using
          React.js, Redux and Bulma.
        </li>
      </ul>
    </ResumeBlock>

    <ResumeBlock
      company="Alibaba Cloud (Contest)"
      position="Machine Learning Engineer"
      startDate="March 2017"
      location="Remote"
    >
      <p>
        I am participating in the CIKM AnalitiCup 2017. It is a challenge
        organised by Alibaba cloud where the participants have 4 months to
        predict short-term rainfall amount using Machine Learning algorithms
        applied to radar images.
      </p>

      <ul>
        <li>
          Radarplot: A library to read the CIKM AnalaytiCup 2017 dataset (<a
            href="https://github.com/jpcano/radarplot"
            target="”_blank”">https://github.com/jpcano/radarplot</a
          >)
        </li>
        <li>
          Radarweb: Used for data visualization (<a
            href="https://github.com/jpcano/radarweb"
            target="”_blank”">https://github.com/jpcano/radarweb</a
          >). Demo: <a href="https://jesus.engineer/radarweb" target="”_blank”"
            >https://jesus.engineer/radarweb</a
          >
        </li>
      </ul>
    </ResumeBlock>

    <ResumeBlock
      company="Sourced"
      position="Developer Relations (Technical Recruiter)"
      startDate="November 2015"
      location="Madrid, Spain"
    >
      <p>
        Working as a Developer Relations in a company that looks to understand
        developers through the code they have written. They analyse the code of
        +6 million developers using Machine Learning algorithms and help over
        100 customers get introduced to developers
      </p>

      <ul>
        <li>
          Assesed technical skills of around 1000 engineers from San Francisco,
          Germany, France, UK, Russia, Spain and India.
        </li>
        <li>Hired 6 engineers</li>
        <li>
          Handled regular meetings with our customers to understand their needs.
        </li>
        <li>
          Developed tools using Python, Qt and BigQuery to speed up the process
          of finding developers. One of those apps is called Resourcer (<a
            href="https://github.com/jpcano/resourcer"
            target="”_blank”">https://github.com/jpcano/resourcer</a
          >).
        </li>
      </ul>
    </ResumeBlock>

    <ResumeBlock
      company="Gigas Hosting"
      position="Software Developer Intern"
      startDate="February 2015"
      location="Alcobendas, Spain"
    >
      <p>
        Leading cloud hosting company in Spain and a growing force throughout
        Latinamerica.
      </p>
    </ResumeBlock>

    <ResumeBlock
      company="IETR"
      position="Research Engineer"
      startDate="February 2014"
      location="Rennes, France"
    >
      <p>
        I ported an HEVC/H.265 video decoder to ARM and Texas Intruments DSPs,
        measured its performance and optimized it by using the Advanced SIMD
        instructions.
      </p>
    </ResumeBlock>
  </ResumeSection>

  <ResumeSection title="Education">
    <ResumeBlock
      company="Udacity"
      position="Intermediate Python Nanodegree"
      startDate="2024"
      location="Remote"
    >
      <p>
        <a
          href="https://www.udacity.com/certificate/e/2eff7bd4-914b-11ee-9b46-c3cc40238511"
          target="”_blank”">Show credential</a
        >
      </p>

      <p>
        File I/O • Functional programming concepts • Python data structures •
        Python exception handling • Python data types • Code debugging • Magic
        methods • Python namespaces • Pythonic design patterns • Python
        decorator functions • Object-oriented design patterns • Object creation
        design patterns • Python virtual environments • Web services •
        Application servers • Pythonic design patterns • Object creation design
        patterns • PIP • Abstraction • Flask • PEP 8 • Modular code •
        Application routing • Python package management • Inheritance •
        Application dependency management • Python modules • Fetching data •
        REST APIs
      </p>
    </ResumeBlock>

    <ResumeBlock
      company="Technical University of Madrid"
      position="Master in Systems and Services for the Information Society"
      startDate="2014"
      location="Madrid, Spain"
    >
      <p>Programming. Video coding.</p>
    </ResumeBlock>

    <ResumeBlock
      company="Institut des Sciences Apliquées INSA"
      position="Electronique et Informatique Industruelle, 5th year"
      startDate="2013"
      location="Rennes, France"
    >
      <p>Image processing, computer vision and embedded systems.</p>
    </ResumeBlock>
    <ResumeBlock
      company="Technical University of Madrid"
      position="Degree in Telecommunication Engineering"
      startDate="2008"
      location="Madrid, Spain"
    >
      <p>Electronic communication systems.</p>
    </ResumeBlock>
  </ResumeSection>

  <ResumeSection title="Certifications">
    <ResumeBlock
      company="MTD Training"
      position="Essential Management Skills (CPD and ILM assured)"
      startDate="2023"
      location="London, UK"
    >
      <p>
        <a
          href="https://www.credly.com/badges/c46ccefd-17df-41ed-8828-6123a2432d44"
          target="”_blank”">Show credential</a
        >
      </p>

      <p>
        Motivate & inspire employees • Coach and develop staff effectively •
        Resolve conflicts quickly • Build and lead high performing teams • Gain
        enthusiastic co-operation • Resolve performance issues quickly and
        effectively • Delegate tasks with confidence • Organise your time and
        workload
      </p>
    </ResumeBlock>
  </ResumeSection>

  <ResumeSection title="Skills">
    <ul class="skill-bars-fat">
      <li>
        <div class="progress percent100"></div>
        <strong>JavaScript / Node.js</strong>
      </li>
      <li>
        <div class="progress percent100"></div>
        <strong>React.js / Ember.js</strong>
      </li>
      <li>
        <div class="progress percent100"></div>
        <strong>TypeScript</strong>
      </li>
      <li>
        <div class="progress percent100"></div>
        <strong>Python</strong>
      </li>
      <li>
        <div class="progress percent100"></div>
        <strong>C</strong>
      </li>
      <li>
        <div class="progress percent75"></div>
        <strong>Rust</strong>
      </li>
      <li>
        <div class="progress percent100"></div>
        <strong>REST, GraphQL, OpenAPI</strong>
      </li>
      <li>
        <div class="progress percent100"></div>
        <strong>Jest / Testing Library / Cypress / Pupeeteer</strong>
      </li>
      <li>
        <div class="progress percent100"></div>
        <strong>CircleCI / GitHub Actions</strong>
      </li>
      <li>
        <div class="progress percent90"></div>
        <strong>Docker / Kubernetes / Helm</strong>
      </li>
      <li>
        <div class="progress percent90"></div>
        <strong>Google Cloud / AWS</strong>
      </li>
      <li>
        <div class="progress percent90"></div>
        <strong>Embedded Systems (nrf52, Nordic Semiconductors)</strong>
      </li>
      <li>
        <div class="progress percent80"></div>
        <strong>Machine Learning</strong>
      </li>
      <li>
        <div class="progress percent80"></div>
        <strong>Edge AI</strong>
      </li>
    </ul>
  </ResumeSection>

  <style>
    .s-resume {
      background-color: white;
      padding-top: calc(6 * var(--space));
      padding-bottom: var(--vspace-4);
    }

    @media screen and (max-width: 800px) {
      .s-resume {
        padding-top: var(--vspace-4);
      }
    }
  </style>
</section>
