---
import { Image } from "astro:assets";
import petros from "../images/avatars/petros.jpeg";
import oscar from "../images/avatars/oscar_pinchen.jpeg";
import tom_mitchell from "../images/avatars/tom_mitchell.jpeg";
---

<!-- testimonials
    ================================================== -->
<section id="testimonials" class="s-testimonials target-section">
  <div class="s-testimonials__bg"></div>

  <div class="row s-testimonials__header">
    <div class="column large-12">
      <h3>Testimonials</h3>
    </div>
  </div>

  <div class="row s-testimonials__content">
    <div class="column">
      <div class="swiper-container testimonial-slider">
        <div class="swiper-wrapper">
          <div class="testimonial-slider__slide swiper-slide">
            <div class="testimonial-slider__author">
              <Image
                src={tom_mitchell}
                width={300}
                alt="Tom Mitchell"
                class="testimonial-slider__avatar"
              />
              <cite class="testimonial-slider__cite">
                <strong>Tom Mitchell</strong>
                <span>CTO at Origami & Mission Digital</span>
              </cite>
            </div>
            <p>
              Jesus Cano joined our team as a backend developer, working
              primarily with C++ to integrate SDKs into our .NET code stack
              within the high-end cinema domain. He quickly onboarded, grasped
              complex problems with ease, and executed his work efficiently. His
              ability to provide clear feedback on his progress and time
              management was invaluable.
            </p>

            <p>
              Beyond his technical skills, Jesus was a great team player—he not
              only delivered excellent work but also actively supported his
              colleagues and contributed to a positive team dynamic. He met all
              key goals, often exceeding our expectations.
            </p>
            <p>
              Jesus is professional, a strong communicator, and comes with a
              valuable network of developers should additional support be
              needed. I’d gladly welcome him back for another project anytime.
            </p>
          </div>
          <!-- end testimonial-slider__slide -->
          <div class="testimonial-slider__slide swiper-slide">
            <div class="testimonial-slider__author">
              <Image
                src={petros}
                width={300}
                alt="Petros Koklas"
                class="testimonial-slider__avatar"
              />
              <cite class="testimonial-slider__cite">
                <strong>Petros Koklas</strong>
                <span>Senior Business Analyst at Diebold Nixdorf</span>
              </cite>
            </div>
            <p>
              Jesus is a very strong skilled developer with true passion about
              coding. He is very good with fullstack development with decent
              frontend knowledge and very deep understanding of backend
              infrastructures. If you need someone that knows how to write code
              that works, using the best practises available, Jesus is that
              person.
            </p>
          </div>
          <!-- end testimonial-slider__slide -->
          <div class="testimonial-slider__slide swiper-slide">
            <div class="testimonial-slider__author">
              <Image
                src={oscar}
                width={300}
                alt="Oscar Pinchen"
                class="testimonial-slider__avatar"
              />
              <cite class="testimonial-slider__cite">
                <strong>Oscar Pinchen</strong>
                <span>Frontend Developer</span>
              </cite>
            </div>
            <p>
              Many junior software engineers have THAT specific mentor who takes
              them under their wing and helps bring them up to speed in the
              world of coding. For me, Jesus was that engineer. He's a deeply
              passionate software engineer with a tremendous breadth of
              knowledge but, what's more, he's also an extremely empathetic
              person who's willing to take the time to understand his junior
              engineer's problems and help them understand and overcome them.
              After a previous bad onboarding experience in a different company,
              Jesus Cano was precisely who I needed to help get my coding
              journey off to a proper start. I will forever be in his debt for
              the patience and generosity he afforded me.
            </p>
            <p>
              He's as kind and generous as he is knowledgeable and passionate,
              and I'd highly recommend him and his services to anyone.
            </p>
          </div>
          <!-- end testimonial-slider__slide -->
        </div>
      </div>
      <!-- end testimonial slider swiper-wrapper -->

      <div class="swiper-pagination"></div>
    </div>
    <!-- end swiper-container -->
  </div>
  <!-- end column -->
</section>
<!-- end row -->

<!-- end s-testimonials -->
<style>
  /* ===================================================================
 * # testimonials
 *
 * ------------------------------------------------------------------- */
  .s-testimonials {
    padding-top: var(--vspace-5);
    padding-bottom: var(--vspace-3_5);
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--color-gray-19);
    overflow: hidden;
    position: relative;
  }

  .s-testimonials__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/testimonials-bg-3000.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .s-testimonials__bg::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-19);
    opacity: 0.8;
  }

  .s-testimonials h3 {
    margin-top: 0;
    color: white;
  }

  .s-testimonials__header,
  .s-testimonials__content {
    position: relative;
  }

  .s-testimonials__header {
    text-align: center;
    margin-bottom: var(--vspace-2);
  }

  .s-testimonials__content > .column:first-child {
    min-height: 0;
    min-width: 0;
  }

  /* ------------------------------------------------------------------- 
 * ## swiper style overrides
 * ------------------------------------------------------------------- */
  .s-testimonials .swiper-container {
    padding-bottom: var(--vspace-2_5);
  }

  .s-testimonials
    .swiper-container-horizontal
    .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 9px;
  }

  .s-testimonials .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: white;
    opacity: 0.4;
  }

  .s-testimonials .swiper-pagination-bullet-active {
    background: var(--color-1);
    opacity: 1;
  }

  /* ------------------------------------------------------------------- 
 * ## testimonial slider 
 * ------------------------------------------------------------------- */
  .testimonial-slider {
    position: relative;
  }

  .testimonial-slider p {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: var(--vspace-1);
  }

  .testimonial-slider__slide {
    position: relative;
  }

  .testimonial-slider__slide p {
    margin-bottom: var(--vspace-0_5);
  }

  .testimonial-slider__slide p:last-child {
    margin-bottom: var(--vspace-1);
  }

  .testimonial-slider__author {
    display: inline-block;
    min-height: var(--vspace-2);
    margin-bottom: var(--vspace-0_5);
    padding-left: 8.8rem;
    position: relative;
  }

  .testimonial-slider__avatar {
    width: var(--vspace-2);
    height: var(--vspace-2);
    border-radius: 100%;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .testimonial-slider__cite {
    display: block;
  }

  .testimonial-slider__cite strong,
  .testimonial-slider__cite span {
    font-style: normal;
  }

  .testimonial-slider__cite strong {
    font-size: calc(var(--text-size) * 0.944);
    line-height: var(--vspace-0_5);
    color: white;
  }

  .testimonial-slider__cite span {
    display: block;
    font-size: calc(var(--text-size) * 0.778);
    font-weight: 300;
    line-height: var(--vspace-0_5);
    color: rgba(255, 255, 255, 0.6);
  }

  /* ------------------------------------------------------------------- 
 * responsive:
 * testimonials
 * ------------------------------------------------------------------- */
  @media screen and (max-width: 800px) {
    .testimonial-slider__slide {
      text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    .testimonial-slider__author {
      padding-left: 6.8rem;
    }
  }

  @media screen and (max-width: 400px) {
    .testimonial-slider__author {
      padding-left: 0;
      margin-bottom: var(--vspace-0_5);
      min-height: 0;
      text-align: center;
    }
    .testimonial-slider__avatar {
      display: inline-block !important;
      margin: 0;
      position: static;
    }
  }
</style>
